@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #18181b; /* zinc-900 */
  -webkit-tap-highlight-color: transparent;
}
